body {
  font-family: 'Open Sans', sans-serif;
}
.main-header {
  font-family: 'PTSansNarrow';
  height: 155px;
}
.main-header .left-block {
  padding-left: 25px;
  float: left;
  width: 30%;
  padding-top: 16px;
}
.main-header .header-center-block {
  float: left;
  width: 50%;
  padding-top: 27px;
}
.main-header .header-form {
  float: left;
  width: 20%;
  padding-top: 10px;
}
.logo {
  margin-bottom: 15px;
}
.adress {
  padding-left: 25px;
  background: url(../images/flag.png) no-repeat;
  min-height: 18px;
  font-size: 18px;
  color: #1b1b1d;
}
.adress a {
  color: #1b1b1d;
}
.header-center-block .text {
  float: left;
  width: 150px;
  font-size: 18px;
  color: #000;
}
.header-center-block .info {
  float: left;
  padding-left: 45px;
  background: url(../images/tel.png) no-repeat;
  min-height: 32px;
  font-size: 34px;
}
.header-center-block .info span {
  color: #32520a;
}
.header-center-block .info-metro {
  float: left;
  padding-left: 45px;
  background: url(../images/metro.png) no-repeat;
  min-height: 24px;
}
.metro-block {
  display: inline-block;
  vertical-align: top;
}
.metro-block a {
  font-size: 18px;
  color: #1b1b1d;
  text-decoration: underline;
}
.metro-block a:hover {
  text-decoration: none;
}
.metro-block p {
  font-size: 14px;
  color: #5a5a62;
}
.telephone {
  margin-bottom: 25px;
}
.metro-block {
  margin-left: 15px;
}
.metro-block:first-child {
  margin-left: 0;
}
.header-form input[type="text"] {
  display: block;
  width: 100%;
  height: 35px;
  outline: 0;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  padding-left: 10px;
  border: 1px solid #80c828;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
}
.header-form .s-sub {
  display: block;
  width: 100%;
  height: 40px;
  outline: 0;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  padding-left: 10px;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  text-transform: uppercase;
  font-family: 'PTSansNarrow';
  color: #fff;
  position: relative;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left top, left bottom, from(#f9882c), to(#f2450c));
  background: -webkit-linear-gradient(top, #f9882c 0%, #f2450c 100%);
  background: -moz-linear-gradient(top, #f9882c 0%, #f2450c 100%);
  background: -o-linear-gradient(top, #f9882c 0%, #f2450c 100%);
  background: linear-gradient(180deg, #f9882c 0%, #f2450c 100%);
}
.header-form .s-sub:hover {
  background: url(../images/button_medium.png) 0 0 repeat-x;
  background-position: 0 100%;
}
.send-block {
  position: relative;
}
.send-block:before {
  content: "";
  display: block;
  width: 19px;
  height: 20px;
  background: url(../images/white-tel.png) no-repeat;
  position: absolute;
  z-index: 2;
  top: 50%;
  margin-top: -10px;
  left: 20px;
}
.input-block {
  margin-bottom: 10px;
}
.ico {
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  display: inline-block;
}
.icon_1 {
  width: 23px;
  height: 20px;
  background-position: -145px -99px;
}
.icon_2 {
  width: 23px;
  height: 17px;
  background-position: -214px -128px;
}
.icon_3 {
  width: 26px;
  height: 22px;
  background-position: -178px -100px;
}
.icon_4 {
  width: 31px;
  height: 26px;
  background-position: -5px -100px;
}
.icon_5 {
  width: 26px;
  height: 26px;
  background-position: -179px -64px;
}
.icon_6 {
  width: 27px;
  height: 25px;
  background-position: -46px -100px;
}
.icon_7 {
  width: 22px;
  height: 25px;
  background-position: -215px -64px;
}
.icon_8 {
  width: 17px;
  height: 19px;
  background-position: -215px -99px;
}
.icon_9 {
  width: 20px;
  height: 18px;
  background-position: -83px -128px;
}
.nav {
  height: 56px;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.23);
  background: url(../images/tmenu.png) repeat-x;
  font-family: 'PTSansNarrowBold';
  font-size: 19px;
  text-transform: uppercase;
}
.nav.fixed {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  opacity: 0.8;
}
.nav.fixed:hover {
  opacity: 1;
}
.nav .ico {
  vertical-align: middle;
}
.nav span {
  display: inline-block;
  vertical-align: middle;
}
.nav li {
  float: left;
}
.nav a {
  color: #fff;
  line-height: 54px;
  display: block;
  padding: 0 15px;
}
.nav a.active,
.nav a:hover {
  background: url(../images/tmenu.png) bottom left repeat-x;
}
.preim {
  background: url(../images/preim_bg_pc.jpg) top center no-repeat;
  min-height: 621px;
}
.preim .img {
  height: 120px;
  display: inline-block;
  margin-bottom: 25px;
}
.preim .descr {
  margin-bottom: 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
}
.preim h1,
.preim .title {
  font-size: 42px;
  color: #283d0f;
  text-align: center;
  font-family: 'PTSansNarrowBold';
  text-transform: uppercase;
  line-height: 50px;
  margin: 20px 0 0 0;
  text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.8);
}
.preim .title {
  font-size: 40px;
  color: #f1661b;
  margin: 0px 0 0 0;
}
.preim .link {
  display: inline-block;
  color: #fff;
  padding: 7px 5px 9px;
  text-decoration: underline;
  border: 1px solid #acd772;
}
.preim .link:hover {
  border-color: transparent;
  text-decoration: none;
  color: #f36820;
}
.preim .link span {
  border-bottom: 1px solid #fff;
}
.preim .link:hover span {
  border: none;
}
.preim .blocks {
  margin-top: 25px;
  position: relative;
}
.preim .blocks .block2 {
  background-color: #f36820;
}
.preim .blocks .name {
  font-size: 22px;
  font-family: 'PTSansNarrowBold';
  text-transform: uppercase;
  margin-bottom: 15px;
}
.preim .blocks > div {
  display: inline-block;
  width: 33%;
  background-color: #89c735;
  color: #fff;
  text-align: center;
  padding: 45px 0;
  font-size: 16px;
  position: absolute;
}
.preim .blocks > div:hover {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
  z-index: 2;
  top: -9px;
  -webkit-box-shadow: 1px 1px 11px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 11px 1px rgba(0, 0, 0, 0.15);
}
.preim .block1 {
  top: 0;
  left: 0;
}
.preim .block1 .img {
  width: 133px;
}
.preim .block2 {
  top: 0;
  left: 50%;
  margin-left: -16.5%;
}
.preim .block2 .link {
  border-color: #f3915f;
}
.preim .block2 .link:hover {
  border-color: transparent;
  text-decoration: none;
  color: #89c735;
}
.preim .block2 .img {
  width: 125px;
  height: 120px;
  background: url(../images/preim_pc.png) 0 0 no-repeat;
  background-position: -135px 0;
}
.preim .block3 {
  top: 0;
  right: 0;
}
.preim .block3 .img {
  width: 133px;
}
.opit {
  background: #f3f7ed;
  height: 467px;
  margin-bottom: 15px;
}
.opit .h1 {
  font-size: 50px;
  color: #293f10;
  font-family: 'PTSansNarrowBold';
  text-align: center;
  margin: 25px 0;
}
.opit .descr {
  opacity: 0;
  position: absolute;
  display: block;
  top: -115px;
  left: -5000px;
  width: 400px;
  padding: 10px;
  border-bottom: 8px solid #80C828;
  background-color: #fff;
  text-align: left;
}
.opit .descr:after {
  content: '';
  position: absolute;
  left: 62px;
  bottom: -22px;
  display: inline-block;
  border-top: 22px solid #80C828;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
}
.opit .descr p {
  font-size: 13px;
  color: #000;
  line-height: 1.4;
}
.opit_cont {
  display: block;
}
.opit_cont div {
  display: inline-block;
  width: 21%;
  margin: 0 1.5%;
  position: relative;
  cursor: pointer;
}
.opit_cont img {
  width: 100%;
  display: block;
}
.opit_cont > div:hover .descr {
  opacity: 1;
  left: 30px;
  -webkit-box-shadow: 0px 5px 8px -4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 5px 8px -4px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.opit_cont > div.opit4:hover .descr {
  right: 0;
  left: auto;
}
.opit_cont > div.opit4:hover .descr:after {
  right: 95px;
  left: auto;
}
.consult_form {
  background: url(../images/consult_bg_pc.jpg) top center no-repeat;
  height: 142px;
}
.consult_form .phone {
  margin: 25px 0 0 77px;
  font-size: 28px;
  font-family: 'PTSansNarrowBold';
  display: inline-block;
  vertical-align: top;
  line-height: 1.42857143;
}
.consult_form .phone .text {
  font-family: 'PTSansNarrow';
  font-size: 35px;
}
.consult_form .phone .text span,
.consult_form .phone .text i {
  vertical-align: middle;
}
.consult_form .phone .text b {
  font-family: 'PTSansNarrowBold';
}
.consult_form .info {
  display: inline-block;
  margin-left: 80px;
  vertical-align: top;
  text-align: center;
  width: 505px;
}
.consult_form .info .title {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 600;
  margin-top: 35px;
  margin-bottom: 15px;
}
.consult_form .info .big_button {
  width: 100%;
  padding-left: 40px;
}
.consult_form .info .big_button i {
  position: absolute;
  top: 17px;
  left: 17px;
}
.big_button {
  -webkit-border-radius: 7px;
  border-radius: 7px;
  background: url(../images/button__big_org.png) 0 0 repeat-x;
  height: 54px;
  font-size: 27px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  display: inline-block;
  padding: 0 10px;
  line-height: 54px;
  position: relative;
  -webkit-box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.15);
  font-family: 'PTSansNarrow';
  cursor: pointer;
  text-decoration: none !important;
}
.big_button:hover {
  background-position: 0 100%;
  color: #fff;
}
.big_button i {
  position: absolute;
}
.big_button span {
  display: inline-block;
}
.medium_button {
  -webkit-border-radius: 7px;
  border-radius: 7px;
  background: url(../images/button_medium.png) 0 0 repeat-x;
  height: 40px;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  border: none;
  display: inline-block;
  padding: 0 10px;
  line-height: 40px;
  position: relative;
  -webkit-box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.15);
  box-shadow: 1px 1px 6px 1px rgba(0, 0, 0, 0.15);
  font-family: 'PTSansNarrow';
  cursor: pointer;
}
.medium_button:hover {
  background-position: 0 100%;
  color: #fff;
}
.medium_button i {
  position: absolute;
}
.medium_button span {
  display: inline-block;
}
.ico-ico_phone_black {
  width: 35px;
  height: 35px;
  background-position: -113px -132px;
}
.ico-ico_phone_white_big {
  width: 23px;
  height: 23px;
  background-position: -203px -155px;
}
.works {
  text-align: center;
  padding-bottom: 50px;
}
.works .h1 {
  font-size: 50px;
  font-family: 'PTSansNarrowBold';
  display: inline-block;
  margin: 35px 0 0;
  border-bottom: 2px solid #80c828;
  padding-bottom: 25px;
}
.works .title {
  font-size: 16px;
  color: #283d0f;
  text-transform: uppercase;
  margin: 30px 0 15px;
}
.carousel-wrapper {
  position: relative;
  padding: 0 20px;
}
.item-block img {
  max-width: 100%;
  height: auto;
}
.item-block a {
  text-decoration: none;
  font-size: 16px;
  color: #000;
}
.item-block a:hover .descr {
  display: block;
}
.item-block .img {
  position: relative;
  width: 100%;
  height: 100%;
}
.item-block .descr {
  position: absolute;
  width: 100%;
  height: auto;
  padding: 10px;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 16px;
  display: none;
  font-family: 'PTSansNarrow';
}
.item-block .title_slide {
  margin-top: 5px;
  font-family: 'Open Sans', sans-serif;
}
.customNavigation .btn {
  display: block;
  cursor: pointer;
  text-indent: -9999px;
  width: 11px;
  height: 63px;
  position: absolute;
  top: 50%;
  margin-top: -31.5px;
}
.customNavigation .prev {
  background: url(../images/prev-slide.png) no-repeat;
  left: 0;
}
.customNavigation .next {
  background: url(../images/next-slide.png) no-repeat;
  right: 0;
}
.consult_form2 {
  background: url(../images/consult2_bg_pc.jpg) top center no-repeat;
  height: 176px;
  margin-top: 40px;
}
.consult_form2 .right-block {
  text-align: center;
  padding-top: 40px;
}
.consult_form2 .right-block .title {
  font-size: 20px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.consult_form2 .after-text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  color: #283d0f;
  font-size: 18px;
  margin-top: 15px;
}
.consult_form2 .phone {
  margin-left: 90px;
  display: inline-block;
  width: 490px;
}
.consult_form2 .phone .title {
  margin: 25px 0 19px 0px;
  font-size: 28px;
  font-family: 'PTSansNarrowBold';
  display: inline-block;
  vertical-align: top;
  color: #283d0f;
  line-height: 32px;
}
.consult_form2 .phone .title-2x {
  margin-bottom: 10px;
}
.consult_form2 .phone .text-2x {
  width: 498px;
  height: 54px;
  background: url(../images/call.png) no-repeat;
  padding-left: 10px;
  padding-top: 10px;
}
.consult_form2 .left-block {
  padding-left: 70px;
}
.consult_form2 .left-block .title {
  margin: 25px 0 5px 0px;
  font-size: 28px;
  font-family: 'PTSansNarrowBold';
  display: block;
  color: #283d0f;
  line-height: 32px;
}
.consult_form2 .left-block .small-title {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
}
.consult_form2 .left-block .other-title {
  font-size: 32px;
  color: #000;
}
.consult_form2 .left-block .other-small-title {
  color: #000;
}
.consult_form2 .text {
  font-weight: normal;
  font-size: 35px;
}
.consult_form2 .text span {
  font-size: 34px;
  font-family: 'PTSansNarrow';
  line-height: 35px;
  color: #838383;
}
.consult_form2 .text b {
  font-family: 'PTSansNarrowBold';
  color: #000;
}
.consult_form2 .text * {
  display: inline-block;
  vertical-align: top;
}
.consult_form2 .come {
  font-size: 18px;
  color: #515d3f;
  font-family: 'PTSansNarrow';
  line-height: 17px;
}
.consult_form2 .come.come-2x {
  font-size: 26px;
  position: relative;
  top: 7px;
}
.consult_form2 .info {
  display: inline-block;
  margin-left: 65px;
  vertical-align: top;
  text-align: center;
  width: 530px;
}
.consult_form2 .info .title {
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 15px;
}
.consult_form2 .big_button {
  width: 100%;
  text-align: left;
  padding-left: 49px;
}
.consult_form2 .big_button i {
  top: 16px;
  left: 13px;
}
.ico-ico_phone_green {
  width: 35px;
  height: 35px;
  background-position: -158px -132px;
}
.ico-ico_button_ok {
  width: 23px;
  height: 23px;
  background-position: -5px -155px;
}
.team {
  padding-top: 65px;
}
.team .h1 {
  font-family: 'PTSansNarrowBold';
  color: #1b1b1d;
  font-size: 50px;
  text-align: center;
  margin: 10px 0 20px;
  padding-top: 10px;
}
.team .h1 b {
  display: inline-block;
  border-bottom: 2px solid #80c828;
  padding: 0 230px 10px;
}
.team .title {
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  color: #283d0f;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  margin: 0px 0 20px;
  padding-top: 10px;
}
.team_block {
  background-color: #f3f7ed;
  padding: 25px;
  font-size: 15px;
  overflow: hidden;
  margin-bottom: 20px;
  line-height: 1.4;
}
.team_block .more {
  font-size: 16px;
}
.team_block:hover {
  -webkit-box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.2);
  z-index: 20;
}
.team_block > div {
  float: left;
  margin-left: 20px;
}
.team_block .edu1 {
  margin-left: 10px;
}
.team_block .pers_inf {
  width: 310px;
}
.team_block .edu1 {
  width: 290px;
}
.team_block .edu2 {
  width: 285px;
}
.team_block .image {
  width: 140px;
  padding-left: 0;
  margin-left: 0px;
  display: block;
}
.team_block .image img {
  display: block;
}
.team_block:nth-child(2n) {
  background-color: #f8f6e7;
}
.team_block .name {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  line-height: 20px;
  padding-bottom: 5px;
}
.team_block .name b {
  font-weight: bold;
  text-transform: uppercase;
}
.team_block .status {
  font-size: 16px;
  color: #f55f11;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  padding-bottom: 4px;
}
.team_block .info {
  line-height: 19px;
  font-family: 'Open Sans', sans-serif;
}
.team_block .zapis {
  margin-top: 20px;
}
.team_block .zapis {
  padding: 0 18px 0 38px;
}
.team_block .zapis i {
  left: 9px;
  top: 8px;
}
.team_block .edu_title * {
  vertical-align: middle;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #283d0f;
  text-transform: uppercase;
  display: inline-block;
  line-height: 16px;
}
.team_block .edu1 .edu_title {
  margin-bottom: 22px;
}
.team_block .edu2 .edu_title {
  margin-bottom: 10px;
}
.team_block .edu2 .edu_title span {
  vertical-align: top;
}
.team_block .edu_title span {
  margin-left: 10px;
  line-height: 16px;
}
.team_block .edu1 .edu_title span {
  margin-left: 5px;
}
.team_block p {
  margin: 0 0 5px;
}
.team_block .edu_info {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2;
}
.team_block .edu_info b {
  font-weight: bold;
}
.team_block .edu_info,
.team_block .total {
  padding-left: 25px;
}
.team_block .edu1 .edu_info {
  padding-left: 30px;
  font-family: 'Open Sans', sans-serif;
}
.team_block .edu1 .edu_info b {
  font-weight: bold;
}
.team_block .total {
  font-size: 15px;
  color: #3d6e00;
  line-height: 1.2;
  font-weight: bold;
}
.more {
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  color: #f55f11;
  font-size: 16px;
  text-transform: uppercase;
  margin: 10px 0 0 7px;
  display: inline-block;
  cursor: pointer;
  /* &:hover{
		color: #f55f11;
		color: #747474;
	} */
}
.more span {
  text-decoration: underline;
  vertical-align: middle;
  margin-left: 5px;
}
.more i {
  vertical-align: middle;
}
.team_block .image .more {
  margin: 0;
}
.team_block .more * {
  vertical-align: middle;
}
.team_block .more span {
  margin-left: 5px;
}
.team_block .full_tb {
  display: none;
}
.team_block .full_tb .image {
  float: left;
  margin-right: 10px;
  margin-left: 0;
  width: 210px;
}
.team_block .full_tb .pers_inf,
.team_block .full_tb .edu1,
.team_block .full_tb .edu2 {
  width: 100%;
  margin-bottom: 15px;
}
.team_block .full_tb .edu1 {
  margin-left: 0px;
}
.team_block .full_tb .edu2 {
  padding-left: 5px;
}
.full_tb .name {
  text-transform: uppercase;
  font-family: 'PTSansNarrowBold';
  font-size: 27px;
  margin-bottom: 20px;
}
.ico-zapis {
  width: 19px;
  height: 23px;
  background-position: -5px -240px;
}
.ico-grad {
  width: 26px;
  height: 18px;
  background-position: -179px -36px;
}
.ico-edu {
  width: 14px;
  height: 21px;
  background-position: -5px -36px;
}
.ico-more {
  width: 11px;
  height: 13px;
  background-position: -83px -99px;
}
.consult_form3 {
  background: url(../images/consult3_bg_pc.jpg) top center no-repeat;
  height: 343px;
}
.consult_form3 .left_inf {
  float: left;
}
.consult_form3 .info {
  margin: 35px 0 0 63px;
}
.consult_form3 .info .title {
  color: #000;
  font-size: 30px;
  font-family: 'PTSansNarrowBold';
  line-height: 30px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.56);
}
.consult_form3 .info ul {
  margin: 20px 0 15px;
  padding: 0;
  overflow: hidden;
}
.consult_form3 .info ul li {
  list-style-type: none;
  float: left;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-right: 25px;
}
.consult_form3 .info ul li * {
  display: inline-block;
  vertical-align: middle;
}
.consult_form3 .info ul li span {
  margin-left: 7px;
}
.consult_form3 .info .text {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.35);
}
.consult_form3 .phone {
  margin: 33px 0 0 63px;
  font-family: 'PTSansNarrow';
  font-size: 24px;
  padding-left: 15px;
  line-height: 50px;
}
.consult_form3 .phone span {
  font-size: 30px;
}
.consult_form3 .phone .text {
  font-family: 'PTSansNarrow';
}
.consult_form3 .phone .text b {
  font-family: 'PTSansNarrowBold';
}
.consult_form3 .form {
  float: left;
  width: 310px;
  margin: 30px 0 0 95px;
}
.consult_form3 .actions * {
  vertical-align: middle;
}
.consult_form3 .actions a {
  margin-right: 13px;
  font-size: 13px;
  color: #000;
  text-decoration: underline;
}
.consult_form3 .actions span {
  margin-left: 5px;
}
.consult_form3 .text * {
  display: inline-block;
  vertical-align: middle;
}
.consult_form3 .medium_button i {
  top: 9px;
  left: 9px;
}
.consult_form3 .medium_button {
  margin-top: 7px;
  padding: 0 0px 0 27px;
  width: 100%;
  font-size: 20px;
}
.ico-doctor {
  width: 18px;
  height: 21px;
  background-position: -205px -5px;
}
.ico-ico_button_phone {
  width: 19px;
  height: 20px;
  background-position: -38px -155px;
}
.form input[type="text"] {
  display: block;
  width: 100%;
  height: 45px;
  padding-left: 10px;
  outline: 0;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  border: 1px solid #80c828;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  -webkit-box-shadow: inset -1px 2px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset -1px 2px 2px 0px rgba(0, 0, 0, 0.2);
}
.form textarea {
  display: block;
  width: 100%;
  height: 85px;
  padding-left: 10px;
  padding-top: 10px;
  resize: none;
  outline: 0;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  border: 1px solid #80c828;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  -webkit-box-shadow: inset -1px 2px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: inset -1px 2px 2px 0px rgba(0, 0, 0, 0.2);
}
.add-photo {
  font-size: 13px;
  color: #356000;
  font-family: 'Open Sans', sans-serif;
}
.add-photo span {
  display: inline-block;
  vertical-align: middle;
  text-decoration: underline;
}
.ico-add-photo {
  width: 16px;
  height: 17px;
  vertical-align: middle;
  background-position: -5px -5px;
}
.del-photo {
  font-size: 13px;
  color: #000;
  font-family: 'Open Sans', sans-serif;
}
.del-photo span {
  display: inline-block;
  vertical-align: middle;
  text-decoration: underline;
}
.ico-del-photo {
  width: 16px;
  height: 17px;
  background-position: -179px -5px;
  vertical-align: middle;
}
.var-link {
  margin-bottom: 10px;
}
.var-link > a {
  margin-left: 10px;
}
.item-title {
  font-family: 'PTSansNarrowBold';
  color: #1b1b1d;
  font-size: 50px;
  margin: 0px 0 40px;
  padding-top: 10px;
  text-align: center;
}
.item-title:after {
  content: "";
  display: block;
  width: 800px;
  margin: 25px auto;
  border-bottom: 2px solid #80c828;
}
.review-wrapp {
  margin-left: -45px;
}
.review {
  padding-top: 75px;
}
.review-item-inner {
  position: relative;
  min-height: 240px;
  padding: 30px;
  padding-left: 200px;
  background: #f3f7ed;
}
.review-item-inner:hover {
  -webkit-box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.2);
}
.review-item-inner .name {
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
  font-size: 22px;
  color: #283d0f;
}
.review-item-inner .about-review {
  font-size: 16px;
  color: #5b5b5b;
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
  margin-bottom: 15px;
}
.review-item-inner p {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.3;
}
.review-img {
  position: absolute;
  left: 30px;
  top: 30px;
  z-index: 2;
  width: 142px;
  height: 182px;
  cursor: pointer;
}
.review-item {
  padding-left: 45px;
  margin-bottom: 30px;
}
.technology {
  padding-top: 70px;
}
.technology .title {
  font-family: 'PTSansNarrowBold';
  color: #1b1b1d;
  font-size: 50px;
  text-align: center;
  margin: 0px 0 40px;
  padding-top: 10px;
}
.technology .title span {
  text-align: right;
  display: block;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  font-style: italic;
  color: #f55f11;
  font-weight: normal;
  line-height: 22px;
}
.technology .title p {
  width: 790px;
  margin: 10px auto;
  border-bottom: 2px solid #80c828;
}
.tech-desc {
  background: #f55f11;
  padding: 15px;
  font-size: 16px;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.3;
}
.tech-desc a {
  font-weight: 600;
  font-style: italic;
  font-size: 16px;
  text-decoration: underline;
  color: #fff;
}
.tech-item {
  padding-left: 80px;
}
.tech-item .number {
  font-size: 50px;
  font-family: 'Roboto Slab', serif;
  position: absolute;
  left: 0;
  top: -25px;
  z-index: 2;
}
.tech-item .number span {
  font-size: 30px;
}
.tech-item-inner {
  padding-left: 45px;
  position: relative;
}
.tech-item-inner img {
  max-width: 100%;
  height: auto;
}
.tech-item-inner:after {
  width: 65px;
  height: 225px;
  background: url(../images/big-arrow.png) no-repeat;
  content: "";
  display: block;
  position: absolute;
  right: -90px;
  top: 65px;
  z-index: 2;
}
.technology-line {
  padding-right: 130px;
  padding-bottom: 50px;
}
.technology-line:nth-child(2n) .col-md-6:first-child .tech-item-inner:before,
.technology-line:nth-child(3n) .col-md-6:first-child .tech-item-inner:before {
  width: 65px;
  height: 225px;
  background: url(../images/big-arrow.png) no-repeat;
  content: "";
  display: block;
  position: absolute;
  left: -50px;
  top: 65px;
  z-index: 2;
}
.fill {
  width: 300px !important;
  margin: auto !important;
  margin-bottom: 10px !important;
  display: block !important;
}
.sentence {
  padding-top: 75px;
  padding-bottom: 40px;
  background: #f4f9ef;
}
.sentence-title-bold {
  margin-bottom: 20px;
}
.sentence-title-orange {
  margin-bottom: 30px;
}
.sentence-top {
  padding-top: 15px;
  background: url(../images/sentence.jpg) no-repeat 50%;
  -o-background-size: cover;
  background-size: cover;
  height: 340px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  border-bottom: 2px solid #fff;
  position: relative;
  z-index: 2;
}
.sentence-top.blue {
  background: url(../images/sentence-blue.jpg) no-repeat 50%;
}
.sentence-top.blue .sentence-title {
  margin-top: 60px;
}
.sentence-top.purple {
  background: url(../images/sentence-purple.jpg) no-repeat 50%;
}
.sent-check {
  text-align: center;
  margin-bottom: 20px;
}
.sent-check-item {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  background: #e8f2e1;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  padding: 5px 10px 5px 35px;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  cursor: pointer;
  position: relative;
}
.sent-check-item:before {
  content: "";
  display: block;
  background: url(../images/check.png) no-repeat;
  left: 8px;
  top: 50%;
  width: 19px;
  height: 18px;
  margin-top: -10px;
  position: absolute;
  z-index: 2;
}
.sent-check-item.active {
  color: #fff;
  background: #80c828;
}
.sent-check-item.active:before {
  background: url(../images/check-active.png) no-repeat;
}
.sentence-title {
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 10px;
  text-shadow: 0px 1px 0px rgba(0, 0, 150, 0.3);
}
.sentence-title span {
  color: #f55f11;
}
.small-sentence-title {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 20px;
}
.sentence-price {
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  margin-bottom: 25px;
}
.sentence-price .prev-price {
  width: 225px;
  height: 50px;
  float: left;
  text-align: center;
  line-height: 50px;
  text-decoration: line-through;
  background: #e7e7e6;
  -webkit-border-radius: 7px 0 0 7px;
  border-radius: 7px 0 0 7px;
  color: #1b1b1d;
}
.sentence-price .prev-price.normal {
  position: relative;
  text-decoration: none;
}
.sentence-price .prev-price.normal:after {
  content: "≠";
  font-size: 48px;
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  z-index: 2;
  right: -14px;
}
.sentence-price .today-price {
  width: 225px;
  height: 50px;
  float: left;
  text-align: center;
  line-height: 48px;
  font-weight: bold;
  color: #fff;
  background: #f55f11;
  -webkit-border-radius: 0 7px 7px 0;
  border-radius: 0 7px 7px 0;
}
.sentence-radio {
  margin-bottom: 25px;
}
.sentence-price-item {
  display: inline-block;
  vertical-align: middle;
}
.sentence-radio-item {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  font-size: 18px;
  font-weight: 600;
  margin: 0 20px;
  padding-left: 45px;
}
.sentence-radio-item:before {
  content: "";
  display: block;
  position: absolute;
  background: url(../images/ok.png) no-repeat;
  width: 29px;
  height: 25px;
  left: 0;
  top: -3px;
  z-index: 2;
}
.sentence-bottom {
  background: #94c464;
  padding: 30px 60px 25px 60px;
  -webkit-border-radius: 0 0 7px 7px;
  border-radius: 0 0 7px 7px;
  position: relative;
  top: -5px;
}
.sentence-bottom.blue {
  background: #c9e4e5;
}
.sentence-bottom.puprle {
  background: #fbc5a8;
}
.sentence-contact {
  font-family: 'PTSansNarrow';
  padding-bottom: 15px;
  border-bottom: 2px solid #c9e2af;
}
.sentence-contact .info {
  padding-left: 30px;
}
.sentence-contact .info span {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  color: #000;
  margin-left: 10px;
}
.sentence-contact .title {
  text-transform: uppercase;
  font-family: 'PTSansNarrowBold';
  font-size: 30px;
  padding-top: 3px;
}
.sentence-contact .ico {
  vertical-align: middle;
}
.sent-tel {
  font-size: 34px;
  font-family: 'PTSansNarrowBold';
  padding-left: 15px;
}
.sent-tel span {
  font-family: 'PTSansNarrow';
  color: #32520a;
}
.ico-ico_phone_white {
  width: 35px;
  height: 35px;
  background-position: -34px -228px;
}
.sentence-form {
  padding-top: 15px;
}
.sentence-form .small-title {
  font-size: 20px;
  font-family: 'PTSansNarrowBold';
}
.sentence-form .input-block {
  position: relative;
  padding-left: 20px;
}
.sentence-form .ico-ico_button_ok {
  position: absolute;
  left: 35px;
  z-index: 2;
  top: 8px;
}
.sentence-form .input-submit {
  width: 255px;
  margin: auto;
}
.sentence-form input[type="text"] {
  display: block;
  width: 100%;
  height: 40px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  padding-left: 10px;
  background: #fff;
  border: 1px solid #80c828;
  outline: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #000;
}
.sentence-form .medium_button {
  display: block;
  width: 100%;
  outline: 0;
  font-family: 'PTSansNarrow';
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  padding-left: 40px;
}
.sentence-wrapp {
  position: relative;
}
.sentence-wrapp .customNavigation .prev {
  left: -30px;
}
.sentence-wrapp .customNavigation .next {
  right: -30px;
}
.diploms .carousel-wrapper {
  margin-bottom: 30px;
}
.diploms .small-title {
  text-align: center;
  font-size: 20px;
  color: #283d0f;
  margin-bottom: 15px;
}
.diploms .item {
  text-align: center;
}
.price-title {
  text-align: center;
  text-transform: uppercase;
  color: #283d0f;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-bottom: 20px;
}
.price-item {
  text-align: center;
  padding: 10px 0;
  display: inline-block;
  vertical-align: middle;
}
.price-item:hover {
  -webkit-box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.2);
}
.owl-price .item {
  padding: 5px 0;
  text-align: center;
}
.owl-price .item a {
  color: #000;
}
.price-img {
  display: inline-block;
  vertical-align: top;
  padding-bottom: 10px;
  border-bottom: 3px solid #f78434;
}
.price-total {
  padding-top: 10px;
  font-size: 26px;
  font-family: 'PT Sans', sans-serif;
}
.price-total b {
  font-weight: bold;
}
.price {
  padding-top: 70px;
  padding-bottom: 30px;
}
.price .carousel-wrapper {
  margin-bottom: 30px;
}
.price-info {
  padding-bottom: 35px;
}
.price-info-text {
  border: 2px solid #f2450c;
  font-size: 26px;
  color: #283d0f;
  text-align: center;
  padding: 25px;
  font-family: 'PT Sans', sans-serif;
}
.price-info-text b {
  font-weight: bold;
}
.record-title {
  margin-bottom: 15px;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  line-height: 1.2;
}
.record-title b {
  font-weight: 800;
}
.record-right-block {
  text-align: center;
  padding-top: 20px;
}
.contact-name {
  text-align: center;
  font-family: 'PTSansNarrowBold';
  font-size: 30px;
  margin-bottom: 30px;
}
.contact-name .green {
  color: #80c828;
}
.contact-name .orange {
  color: #f67f07;
}
.ico-big_flag {
  width: 49px;
  height: 44px;
  vertical-align: middle;
  background-position: -31px -5px;
}
.contact-info {
  margin-bottom: 30px;
  text-align: center;
}
.contact-adress {
  font-size: 22px;
  font-family: 'PTSansNarrowBold';
}
.contact-adress span {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}
.contact-tel {
  font-size: 36px;
  font-family: 'PTSansNarrow';
  color: #838383;
}
.contact-tel b {
  font-family: 'PTSansNarrowBold';
  color: #000;
}
.contact-tel i {
  vertical-align: middle;
}
.contact-tel span {
  display: inline-block;
  vertical-align: middle;
}
.contact-btn .medium_button {
  width: 235px;
  text-align: center;
  font-family: 'PTSansNarrowBold';
  font-size: 22px;
  padding-left: 30px;
}
.contact-btn i {
  left: 17px;
  top: 10px;
  position: absolute;
}
.ico-phone {
  width: 21px;
  height: 21px;
  background-position: -44px -188px;
}
.contacts {
  padding-top: 70px;
}
.contacts .item-title {
  margin-bottom: 30px;
}
.ico-big_metro {
  width: 64px;
  height: 43px;
  background-position: -90px -5px;
  vertical-align: middle;
}
.contact-tab .title {
  text-align: center;
  font-size: 22px;
  color: #1b1b1d;
  font-family: 'PT Sans', sans-serif;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.nav-tabs {
  border: 1px solid #adadad;
  margin-bottom: 20px;
}
.nav-tabs .metro-name {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  color: #5a5a62;
  font-family: 'Open Sans', sans-serif;
  margin-left: 20px;
}
.nav-tabs .metro-name b {
  font-family: 'PTSansNarrowBold';
  font-size: 22px;
  color: #000;
}
.nav-tabs li {
  width: 33.3%;
  float: left;
  height: 90px;
  border-left: 1px solid #757575;
}
.nav-tabs li:hover {
  -webkit-box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.2);
}
.nav-tabs li:first-child {
  border-left: 0;
}
.nav-tabs a {
  display: block;
  height: 90px;
  padding-left: 50px;
}
.map-wrapp img {
  max-width: 100%;
  height: auto;
}
.tab-content {
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -moz-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}
.requisites {
  padding-top: 40px;
  padding-bottom: 60px;
}
.requisites .item-title:after {
  content: none;
}
.requisites-wrapp {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: #1b1b1d;
  text-transform: uppercase;
}
.requisites-wrapp ul {
  padding-left: 40px;
}
.requisites-wrapp li {
  position: relative;
  margin-bottom: 15px;
  padding-left: 20px;
  line-height: 1.2;
}
.requisites-wrapp li:before {
  position: absolute;
  content: "";
  background: url(../images/ok-list.png) no-repeat;
  z-index: 2;
  width: 13px;
  height: 13px;
  left: 0;
  top: 1px;
}
.requisites-wrapp b {
  font-weight: bold;
}
.timer {
  text-align: center;
}
.timer-text {
  display: inline-block;
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-size: 12px;
}
.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out, -moz-transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out, -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out, -moz-transform 0.3s ease-out, -o-transform 0.3s ease-out;
  -webkit-transform: translate(0, -25%);
  -moz-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.modal-dialog {
  position: absolute;
  width: auto;
  margin: 10px;
  border: 4px solid #80c828;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12);
}
.modal-dialog .medium_button {
  padding-left: 60px;
  padding-right: 20px;
}
.modal-dialog .medium_button i {
  top: 9px;
  left: 24px;
}
.modal-dialog .var-link {
  margin-bottom: 20px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -o-background-clip: padding-box;
  background-clip: padding-box;
  outline: 0;
  padding: 30px;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-header {
  text-align: center;
  font-family: 'PTSansNarrowBold';
  text-transform: uppercase;
  font-size: 32px;
  color: #000000;
  margin-bottom: 20px;
}
.modal-header .close {
  position: absolute;
  z-index: 2;
  right: 5px;
  top: 5px;
  border: 0;
  outline: 0;
  cursor: pointer;
  background: none;
}
.modal-title {
  margin: 0;
}
.modal-body {
  position: relative;
}
.modal-footer {
  padding: 15px;
  text-align: right;
  border-top: 1px solid #e5e5e5;
}
.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
.get-call-dialog {
  width: 460px;
  left: 50%;
  margin-left: -230px;
  top: 50%;
  margin-top: -223px;
  /* margin: 50px auto; */
}
.review-dialog {
  width: 800px;
  left: 50%;
  margin-left: -400px;
  top: 50%;
  margin-top: -223px;
}
.review-dialog .modal-content {
  padding-bottom: 60px;
}
.personal-dialog {
  margin: 30px auto;
  width: 800px;
  position: relative;
}
.personal-dialog .modal-body {
  padding-bottom: 45px;
}
.small-block {
  margin-top: 20px;
}
.small-block-item {
  position: relative;
  padding-left: 115px;
  background: #80c828;
  margin-bottom: 2px;
  min-height: 110px;
  color: #fff;
  padding-top: 15px;
}
.small-block-item:nth-child(2) {
  background: #f55f11;
}
.small-block-item .small-img {
  position: absolute;
  height: 100%;
  left: 15px;
  top: 15px;
  z-index: 2;
}
.small-block-item .small-title {
  font-size: 22px;
  font-family: 'PTSansNarrowBold';
  margin-bottom: 10px;
  text-transform: uppercase;
}
.small-block-item .text {
  font-family: 'PT Sans', sans-serif;
  font-size: 17px;
  line-height: 1.2;
}
.small-link {
  text-align: right;
  padding-top: 15px;
}
.small-link > div {
  margin-bottom: 5px;
}
.small-link a {
  position: relative;
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
  font-size: 16px;
  color: #3a6900;
}
.small-link a span {
  text-decoration: underline;
}
.mobile-header {
  height: 55px;
  background-color: #7fc727;
  -webkit-box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.23);
  box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.23);
  padding-left: 55px;
  padding-top: 13px;
}
.mobile-header img {
  max-width: 100%;
  height: auto;
}
.menu-toggle {
  cursor: pointer;
  border: 0;
  outline: 0;
  background: none;
  position: absolute;
  z-index: 2;
  left: 15px;
  top: 16px;
  z-index: 10000;
}
.mobile-title {
  color: #fff;
  font-size: 22px;
  font-family: 'PTSansNarrow';
  text-transform: uppercase;
  margin-bottom: 10px;
  line-height: 1.2;
}
.mobile-title b {
  font-family: 'PTSansNarrowBold';
}
.mobile-title .number {
  font-size: 28px;
}
.mobile-title .text-mobile {
  text-transform: none;
  font-size: 24px;
}
.item img {
  max-width: 100%;
  height: auto;
}
.mobile-nav-header {
  height: 55px;
  background: rgba(114, 194, 17, 0.9);
  padding-left: 70px;
}
.close-menu {
  border: 0;
  outline: 0;
  color: #fff;
  background: none;
  text-transform: uppercase;
  font-size: 20px;
  font-family: 'PTSansNarrowBold';
  cursor: pointer;
  padding-top: 13px;
}
.scroll_cont {
  padding: 0;
  height: 610px;
  overflow: auto;
  margin: 0;
}
.scroll_cont .name {
  text-transform: uppercase;
  font-family: 'PTSansNarrowBold';
  font-size: 27px;
  margin-bottom: 20px;
}
.scroll_cont {
  color: #444;
  font-size: 15px;
  line-height: 19px;
}
.scroll_cont .image {
  float: left;
  margin-right: 10px;
  margin-left: 0;
}
.pers_inf {
  color: #444;
  font-size: 15px;
  line-height: 19px;
  margin-bottom: 15px;
}
.edu_title {
  vertical-align: middle;
  font-family: 'PTSansNarrowBold';
  font-size: 18px;
  color: #283d0f;
  margin-bottom: 22px;
  text-transform: uppercase;
}
.edu_title span {
  margin-left: 5px;
  display: inline-block;
  vertical-align: top;
}
.scroll_cont .edu_info {
  padding-left: 30px;
  margin-bottom: 15px;
}
.scroll_cont .edu_info p {
  margin: 0 0 5px;
}
.scroll_cont .total {
  font-size: 16px;
  color: #3d6e00;
  font-family: 'PTSansNarrowBold';
  padding-left: 25px;
}
.modal .panel {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #80C828;
  width: 100%;
  margin-left: 0 !important;
  text-align: center;
  padding: 10px 0;
}
.bot-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-left: 0 !important;
  text-align: center;
  padding: 10px 0;
}
.modal-dialog .bot-panel .medium_button {
  padding-left: 40px;
}
.otzivi-wrapp {
  height: 200px;
}
.back-button.medium_button {
  background-position: bottom;
}
.personal-dialog .medium_button {
  padding-left: 40px;
}
.ico-back {
  width: 22px;
  height: 11px;
  background-position: -110px -232px;
  left: 11px !important;
  top: 15px !important;
}
.btn-up {
  position: fixed;
  bottom: 40px;
  right: 45px;
  opacity: 1;
  cursor: pointer;
  z-index: 21;
  background: #80c828;
  display: none;
}
.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  -moz-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .item {
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    -o-transition: -o-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    -moz-transition: transform 0.6s ease-in-out, -moz-transform 0.6s ease-in-out;
    -o-transition: transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out, -moz-transform 0.6s ease-in-out, -o-transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    -moz-perspective: 1000px;
    perspective: 1000px;
  }
  .carousel-inner > .item.next,
  .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  .carousel-inner > .item.prev,
  .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  .carousel-inner > .item.next.left,
  .carousel-inner > .item.prev.right,
  .carousel-inner > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 11px;
  height: 63px;
  top: 50%;
  margin-top: -31.5px;
  font-size: 20px;
  color: #fff;
  z-index: 10;
}
.carousel-control.left {
  background: url(../images/prev-slide.png) no-repeat;
  left: -20px;
}
.carousel-control.right {
  right: -20px;
  left: auto;
  background: url(../images/next-slide.png) no-repeat;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  font-family: serif;
  line-height: 1;
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #fff;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-caption .btn {
  text-shadow: none;
}
.otzivi .image {
  float: left;
}
.otzivi .info {
  margin-left: 165px;
  min-height: 186px;
}
.otzivi .name {
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
  font-size: 22px;
  color: #283d0f;
  text-decoration: none;
  line-height: 23px;
}
.otzivi .about {
  font-family: 'PT Sans', sans-serif;
  font-style: italic;
  font-size: 15px;
  color: #5b5b5b;
  margin-bottom: 5px;
}
.otzivi .text {
  font-size: 16px;
  margin-bottom: 5px;
  line-height: 1.4;
}
.otzivi .more * {
  vertical-align: middle;
}
.otzivi .more span {
  margin-left: 5px;
}
.otzivi a.more {
  text-decoration: underline;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
  color: #f55f11;
  font-size: 16px;
  text-transform: uppercase;
}
