@media(min-width: 1500px){
	.works .container,
	.diploms .container,
	.price .container {
    width: 1500px;
	}
	.item-block{
		padding: 0 16px;
	}
}
@media(max-width: 1199px){
	.header-center-block .text{
		display: none !important;
	}
	.main-header .left-block{
		width: 35%;
	}
	.main-header .header-center-block{
		width: 40%;
	}
	.main-header .header-form{
		width: 25%;
	}
	.nav{
		font-size: 15px;
	}
	.nav a{
		padding: 0 11px;
	}
	.preim .descr{
		font-size: 15px;
	}
	.consult_form .phone{
		margin-left: 0;
	}
	.consult_form .info .title{
		margin-top: 20px;
	}
	.consult_form .info {
    margin-left: 25px;
    width: 415px;
	}
	.big_button{
		font-size: 23px;
	}
	.consult_form2 .phone{
		margin-left: 0;
	}
	.consult_form2 .info{
		width: 405px;
	}
	.team_block .pers_inf{
		width: 230px;
		margin-left: 10px;
	}
	.consult_form3 .info {
    margin: 35px 0 0 0px;
    width: 565px;
	}
	.consult_form3 .phone{
		margin-left: 0;
		margin-top: 5px;
	}
	.consult_form2 .big_button{
		font-size: 21px;
	}
	.consult_form2 .left-block{
		padding-left: 0;
	}
}